body {
    background-color: darkblue;
    overflow-x: hidden;
}
h1 {
    margin-top: 0;
    color: white;
    width: 100vw;
    text-align: center;
}
#start {
    width: 15vw;
    aspect-ratio: 5/2;
    border: .3vw solid gold;
    color: white;
    background-color: goldenrod;
    border-radius: 5%;
    position: fixed;
    bottom: 50vh;
    left: 43vw;
}
p {
    color: white;
    text-align: center;
    position: relative;
    white-space-collapse: preserve;
}

#mainDiv {
    display: grid;
    width: 100vw;
    justify-content: center;
}
#presets {
    display: flex;
    width: fit-content;
    position: fixed;
    bottom: 10vw;
    left: 35vw;
}
#presets button {
    width: 10vw;
    aspect-ratio: 5/2;
    background-color: goldenrod;
    border: .3vw solid gold;
    color: white;
    margin-left: 1%;
    border-radius: 5%;
}

.section {
    display: inline-flex;
    margin-left: 15%;
}
.content {
    text-align: center;
    width: 20%;
    margin: 1%;
    color: white;
    background-color: goldenrod;
    border: .3vw solid gold;
    border-radius: 5%;
}
input {
    width: 5vw;
    height: 4vh;
    margin: 1%;
    text-align: center;
    background-color: goldenrod;
    border: .3vw solid gold;
    border-radius: 5%;
}

button:hover {
    border-color: darkred !important
}
#modelP {
    position: fixed;
    top: 58vh;
    left: 35vw;
    width: 30vw;
}